<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="memberDao" class="chap03.MemberDao" />
	
	<!-- 생성자로 객체 주입 -->
	<bean id="memberRegSvc" class="chap03.MemberRegisterService">
		<constructor-arg ref="memberDao"></constructor-arg> <!-- 이름이 memberDao인 다른 빈 객체를 생성자에 전달한다. -->
	</bean>
	
	<bean id="changePwdSvc" class="chap03.ChangePasswordService">
		<constructor-arg ref="memberDao"></constructor-arg> 
	</bean>
	
	<!-- 의존성 주입 : 생성자 (2개일겨우) -->
	<bean id="listPrinter" class="chap03.MemberListPrinter">
		<constructor-arg ref="memberDao"/>
		<constructor-arg ref="memberPrinter"/> 
	</bean>
	
	<bean id="memberPrinter" class="chap03.MemberPrinter"/>
	
	<!-- 의존성 주입 : 설정 메서드 방식 (프로퍼티) -->
	<bean id="infoPrinter" class="chap03.MemberInfoPrinter">
		<property name="memberDao" ref="memberDao"/>	<!-- setMemberDao(MemberDao memberDao) -->
		<property name="printer" ref="memberPrinter"/> 	<!-- setPrinter(MemberPrinter printer) -->
	</bean>
	
</beans>
