<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="memberDao" class="chap03.MemberDao" />
	
	<!-- 생성자로 객체 주입 -->
	<bean id="memberRegSvc" class="chap03.MemberRegisterService">
		<constructor-arg ref="memberDao"></constructor-arg> <!-- 이름이 memberDao인 다른 빈 객체를 생성자에 전달한다. -->
	</bean>
	
	<bean id="changePwdSvc" class="chap03.ChangePasswordService">
		<constructor-arg ref="memberDao"></constructor-arg> 
	</bean>
	
</beans>